.container {
  width: 100%;
  height: 100vh; 
  --s: 100px; 
  --c1: #000000; 
  --c2: #1e1e1e; 
  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
        100% 100% at 100% 0,
        var(--c1) 4%,
        var(--_g),
        #0008 96%,
        #0000
      ),
      radial-gradient(
          100% 100% at 0 100%,
          #0000,
          #0008 4%,
          var(--_g),
          var(--c1) 96%
        )
        var(--c1);
  background-size: var(--s) var(--s);
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
#logo {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  object-fit: cover;
  padding-bottom: 20px;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 40px;
  background: #ffffff;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 50px 5px rgba(255, 255, 255, 0.50);
}
form:hover {
  transition: background 0.5s ease, transform 0.5s ease;
  transform: scale(1.02);
}
h1 {
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  background: linear-gradient(var(--c1), var(--c2));
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  outline: none;
}
input:focus {
  border-color: #000000;
}
.login-button {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 15px;
}
.login-button-s {
  background-color: #ee1212;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 15px;
}
.select{
  width: 100%;
  height: 40px;
  cursor: pointer;
  margin-top: 8px;
  font-size: rem;
  border-radius: 15px;
  font-family: 'Times New Roman', Times, serif;
}
.login-button:hover {
  background-color: #3a3939;
  color: #ffffff;
}
.register-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  color: #000000;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
}
.register-button:hover {
  text-decoration: underline;
}
p {
  color: #000000;
  font-size: 0.75rem;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
@media (max-width: 600px) {
  #logo {
    width: 120px;
    height: 120px;
  }
  form {
    padding: 15px;
    border-radius: 20px;
  }
  h1 {
    font-size: 2rem;
  }
  input {
    padding: 10px 15px;
    font-size: 0.875rem;
  }
  .login-button {
    height: 35px;
    font-size: 0.875rem;
  }
  .register-button {
    font-size: 0.75rem;
  }
  p {
    font-size: 0.625rem;
  }
}
@media (max-width: 375px) {
  #logo {
    width: 100px;
    height: 100px;
  }
  h1 {
    font-size: 1.75rem;
  }
  input {
    padding: 8px 12px;
    font-size: 0.75rem;
  }
  .login-button {
    height: 30px;
    font-size: 0.75rem;
  }
  .register-button {
    font-size: 0.625rem;
  }
  p {
    font-size: 0.5rem;
  }
}
.titleW {
  color: #ffffff;
  font-size: 45px;
}
.text {
  color: #ffffff;
}
.background-image {
  width: 100%;
  height: 90%;
  object-fit: cover;
  position: absolute;
  top: 0;
}
.header {
  width: 100%;
  height: 11%;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #00000034;
  color: #ffffff;
}
.title {
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
}
.nav {
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.nav:hover {
  text-decoration: underline;
}
.section {
  position: absolute;
  top: 15%;
  left: 13%;
  width: 75%;
  text-align: center;
  z-index: 1;
}
.text {
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10%;
  font-size: 50px;
  font-weight: bolder;
  line-height: 1.5;
  padding: 0;
  margin-bottom: 0;
}
.text-2 {
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 24px;
  padding-top: 10px;
  margin: 0;
  line-height: 1.4;
  width: 50%;
  padding-left: 25%;
}
.button-section {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 32%;
}
.btn2 {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  border: 2px solid #ffffff;
  padding: 10px 30px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 8px;
}
.btn2:hover {
  background-color: #ffffff;
  color: #000000;
}
.section3 {
  width: 100%;
  height: 50vh;
  --s: 100px;
  --c1: #000000;
  --c2: #1e1e1e;
  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
        100% 100% at 100% 0,
        var(--c1) 4%,
        var(--_g),
        #0008 96%,
        #0000
      ),
      radial-gradient(
          100% 100% at 0 100%,
          #0000,
          #0008 4%,
          var(--_g),
          var(--c1) 96%
        )
        var(--c1);
  background-size: var(--s) var(--s);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
}
.text-sect {
  color: #ffffff;
  font-size: 33px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  padding-top: 10%;
}
.section4 {
  width: 100%;
  height: 90vh;
  background-image: url('./assets/Robot.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #ffffff;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 30px;
}
.content {
  position: absolute;
  top: 30px;
  right: 100px;
  z-index: 2;
  max-width: 450px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
}
.title4 {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  text-align: right;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  color: #ffffff;
}
.description {
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin-top: 35px;
  text-align: right;
  line-height: 1.8;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}


.section5 {
  width: 100%;
  height: 90vh; 
  --s: 100px; 
  --c1: #000000; 
  --c2: #1e1e1e; 

  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;

  background: radial-gradient(
        100% 100% at 100% 0,
        var(--c1) 4%,
        var(--_g),
        #0008 96%,
        #0000
      ),
      radial-gradient(
          100% 100% at 0 100%,
          #0000,
          #0008 4%,
          var(--_g),
          var(--c1) 96%
        )
        var(--c1);
  background-size: var(--s) var(--s);
  display: flex;
  justify-content: center;
  align-items: center;
}
.black-box {
  width: 90%;
  max-width: 1200px; 
  background-color: #1e1e1e; 
  padding: 40px;
  border-radius: 15px; 
  display: flex; 
  gap: 30px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  height: 60%;
  align-items: center; 
}

.black-box {
  width: 90%;
  max-width: 1200px;
  background-color: #1e1e1e;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  gap: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  height: 60%;
  align-items: center;
}
.text-section {
  flex: 1;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-section .points {
  list-style-type: square;
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  margin: 0 auto;
  max-width: 400px;
  line-height: 2.2;
}
.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.section6 {
  width: 100%;
  height: 80vh;
  --s: 100px;
  --c1: #000000;
  --c2: #1e1e1e;
  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
        100% 100% at 100% 0,
        var(--c1) 4%,
        var(--_g),
        #0008 96%,
        #0000
      ),
      radial-gradient(
          100% 100% at 0 100%,
          #0000,
          #0008 4%,
          var(--_g),
          var(--c1) 96%
        )
        var(--c1);
  background-size: var(--s) var(--s);
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section img {
  height: 100%;
  width: 80%;
  object-fit: cover;
  border-radius: 10px;
}
.text-section {
  flex: 1;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8;
}
.text-section h2 {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
  padding-right: 70px;
}
.text-section p {
  font-size: 18px;
  font-family: Arial, sans-serif;
  text-align: justify;
  padding-right: 80px;
  color: #ffffff;
}
.section7 {
  width: 100%;
  height: 90vh;
  background-image: url('./assets/Casa.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #ffffff;
  text-align: center;
}
.content7 {
  max-width: 600px;
  text-align: center;
  padding: 20px;
}
.title7 {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  color: #ffffff;
}
.description7 {
  font-size: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.8;
  margin-top: 15px;
  color: #ffffff;
}
.footer7 {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.section8 {
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content8 {
  max-width: 600px;
  text-align: center;
}
.title8 {
  font-size: 36px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
  color: #333333;
}
.section8 {
  width: 100%;
  height: 10vh;
  --s: 100px;
  --c1: #000000;
  --c2: #1e1e1e;
  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: 
    radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
      100% 100% at 0 100%,
      #0000,
      #0008 4%,
      var(--_g),
      var(--c1) 96%
    ) var(--c1);
  background-size: var(--s) var(--s);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content8 {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.left-column,
.right-column {
  flex: 1;
  text-align: left;
}
.left-column {
  padding-right: 20px;
}
.right-column {
  padding-left: 20px;
}
.title8 {
  font-size: 36px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
  color: #ffffff;
}
.description8 {
  font-size: 18px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #ffffff;
}
.contact-info p {
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
}
.contact-info strong {
  font-weight: bold;
  margin-right: 10px;
}
.credencial {
  width: 97%;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
        100% 100% at 100% 0,
        var(--c1) 4%,
        var(--_g),
        #0008 96%,
        #0000
      ),
      radial-gradient(
          100% 100% at 0 100%,
          #0000,
          #0008 4%,
          var(--_g),
          var(--c1) 96%
        )
        var(--c1);
  background-size: var(--s) var(--s);
  --s: 100px; 
  --c1: #000000; 
  --c2: #1e1e1e; 
  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
}

.credencial-card {
  width: 350px;
  padding: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  text-align: center;
}

.credencial-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #f5f2f2;
  object-fit: cover;
}

.credencial-card p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.credencial-card strong {
  font-weight: bold;
}

.credencial-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #1a1818;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s;
}

.credencial-card a:hover {
  background: #333;
}

.credencial h2 {
  color: #000;

}

.btn3{
  background-color: rgb(230, 213, 230);
  color: #0d0a0d;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  border: 2px solid #a8e215;
  padding: 2px 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 8px;
}